.mainIndex{
    margin: 0;
    background: linear-gradient(90deg,#8F8F8F,#F6F6F6,#8F8F8F);
    
}
.mainIndex h1{
    margin-top: 0;
}
.mainIndex main{
    display: flex;
    
    justify-content: center;
}