body {
    position: relative;
}

#myBtn {
    background-color: #784199;
    color: white;
    border-radius: 10px;
    /*Placement du bouton*/
    position: absolute;
    right: 20px;
    top: 120px;
}

.modal {
    /*display:none;*/
    display: block;
    animation: fadeIn .8s ease-in 1 forwards;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation-play-state: running;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.is-paused {
    animation-play-state: paused;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 18px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #784199;
    text-decoration: none;
    cursor: pointer;
}