main {
    background: linear-gradient(90deg,#8F8F8F,#F6F6F6,#8F8F8F);
}
h1{
    margin-top: 0px; 
}

/********************/
/*****    INDEX  ****/
/********************/

.mainIndex{
    margin: 0;
    padding: 120px 50px 15% 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainIndex h1{
    margin-top: 0;
    
    font-family: 'Helvetica';
}
.mainIndex p{
    font-size: 20px;
}
.mainIndex section{
    width: 60%;
    text-align: justify;
    margin: 20px 0 50px 0;
    
    font-family: 'Helvetica';
}
.mainIndex a{
    background-color: #784199;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    
    width: 150px;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    
    font-family: 'Helvetica';
}
.mainIndex a:hover{
    background-color: #4CD1CB;
    transform-origin: center;
    transform: scale(1.05);
    transition: 0.1s cubic-bezier(.42, 0, .31, 1.47);
}

/*************************/
/*****    HEADER    ******/
/*************************/

body {
    margin: 0;
    padding: 0;
}

.mainHeader {
    margin: 0;
    padding-top: 10px;
    background-color: #784199;

    position: relative;
}

.mainHeader nav {
    background-color: #2D2D2D;
    margin: 0;
}

.mainHeader img {
    width: 200px;
    height: 155px;

    position: absolute;
    top: 0px;
    left: calc(50% - 100px);

    z-index: 2;
}

.mainHeader a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}
.mainHeader a:hover{
    color: lightgrey;
}

.mainHeader ul {
    margin: 0;
    padding: 20px 5% 20px 6%;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 24px;
    
    font-family: 'Helvetica';
}

.mainHeader ul::after {
    content: '';
    height: 40px;
    width: 3px;
    background: white;
    display: inline-block;

    position: absolute;
    top: 22px;
    left: 20%;
}

.mainHeader ul::before {
    content: '';
    height: 40px;
    width: 3px;
    background: white;
    display: inline-block;

    position: absolute;
    top: 22px;
    right: 20%;
}

.mainLogo::after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 110px 151px 110px 0;
    border-color: transparent #784199 transparent transparent;

    position: absolute;
    top: -35px;
    left: calc(50% - 150px);

    z-index: 1;
}

.mainLogo::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 110px 0 110px 151px;
    border-color: transparent transparent transparent #784199;

    position: absolute;
    top: -35px;
    left: 50%;

    z-index: 1;
}

/**************************************/
/********* Style Jeu en Solo **********/
/**************************************/

/*****Général*****/
section {
    display:flex;
    font-family: Arial;
}

/***Photo Profil*****/
.score figure img{
    width: 100%;
}
.score figure{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 8px #4cd1cb;
    border-radius: 50%;
    margin: auto;
}
/******Score*****/
.barScoreMax{
    width: 20px;
    height: 600px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% + 130px);
    left: calc(50% - 10px);
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 1;
}
.barScore{
    width: 20px;
    height: 50%;
    background-color: #4cd1cb;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.score {
    display: flex;
    flex-direction: column;
    position:relative;
    width:25%;
    min-width:170px;
    position: absolute;
}
/******Contenu******/

.contenu{
    width: 50%;
    min-width: 450px;
    height: 50%;
    min-height: 450px;
    margin: auto;
    margin-top: 70px;
    marging-bottom: 100px;
}
    /*****Numéro question et tuto*****/
        .numEtTuto{
            display: flex;
            justify-content: space-between;
            font-size: 20px;
        }

        .tutoButton{
            height: 50px;
            width: 50px;
            background-color: #4cd1cb;
            font-size: 40px ;
            color: white;
            border-radius: 50%;
            border: none;
            transition: 0.2s linear;
        }
        .tutoButton:hover{
            transform-origin: center;
            transform: scale(1.2);
            transition: 0.2s linear;
        }
    /*****Phrase à compléter***/
        .phraseACompleter{
            text-align: center;
            font-size: 40px;
            margin-bottom: 10%;
        }
    /*****Div des Reponses*****/
    
        .reponses{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            position:relative;
        }
        .reponseButton{
            margin: 10px;
            width: 40%;
            height: 100px;
            min-width: 200px;
            border-radius: 20px;
            border: none;
            background-color: #784199;
            color: white;
            font-size: 25px ;
        }
        .Sousreponses{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .reponseButton:hover{
            background-color: #4cd1cb;
            color: black;
        }
    /*****Timer*****/

        .divTimer{
            width: 100px;
            min-width: 100px;
            height: 100px;
            border: solid 8px #4cd1cb;
            border-radius: 50%;
            margin:auto;
            background-color:aliceblue;
            position:absolute;
            top:calc(50% - 54px);
            left:calc(50% - 54px);
        }
        .timer{
            margin-top: calc(50% - 29px);
            text-align: center;
            font-size: 50px;
            
        }
       

/**** 4cd1cb bleu
784199 violet ****/



/**********/
/* Footer */
/**********/

.footer{
	background-color: #2D2D2D;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
    font-family: 'Helvetica' sans-serif;
	text-align: left;
	overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Footer left */

.footerGauche{
	float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 50vw;
    
    
}

.logo{
    max-height: 10vw;
}

.footer .footer-links{
	color:  darkgrey;
	margin: 0;
	padding: 0;
    width: 40vw;
    text-align: center;
    height: 30px;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 200px;
    margin-left : 20px;
    margin-right : 20px;
}

.footer .footer-links a{
	text-decoration: none;
	color:  inherit;
    
}
.footer .footer-links a:hover{
    color : lightgrey;
    transition: 0.2s;
}
.footerReseaux img{
    max-width: 3vw;
    padding:5px;
}
.footerReseaux img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.footer .footerReseaux{
	display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* Footer Right */

.footer .footerDroite{
	float: right;
    display: inline-block;
    padding-bottom: 20px;
}

.footer .footerDroite p{
	vertical-align: top;
	margin-bottom:20px ;
	color: darkgrey;
}

/* The contact form */

.footer form{
	display: inline-block;
}

.footer form input,
.footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
    outline: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  darkgrey;
	width: 400px;
	padding: 18px;
}

.footer ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer :-ms-input-placeholder{
	color:  #5c666b;
}


.footer form input{
	height: 55px;
	margin-bottom: 15px;
    
}

.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: darkgrey;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
    cursor: pointer;
}
.footer form button:hover{
    background-color: dimgray;
    transition: 0.2s;
    transform: scale(1.02);
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer {
		font: bold 14px sans-serif;
	}

	.footer .footerNom{
		font-size: 12px;
	}

	.footer form input,
	.footer form textarea{
		width: 250px;
	}

	.footer form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer{
		padding: 30px;
	}

	.footer .footerGauche,
	.footer .footerDroite{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer .footerGauche{
		margin-bottom: 40px;
	}

	.footer form{
		margin-top: 30px;
	}

	.footer form{
		display: block;
	}

	.footer form button{
		float: none;
	}
}