.mainIndex{
    margin: 0;
    background: linear-gradient(90deg,#8F8F8F,#F6F6F6,#8F8F8F);
    padding: 120px 50px 15% 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainIndex h1{
    margin-top: 0;
    
    font-family: 'Helvetica';
}
.mainIndex section{
    width: 60%;
    text-align: justify;
    margin: 20px 0 50px 0;
    
    font-family: 'Helvetica';
}
.mainIndex a{
    background-color: #784199;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    
    width: 150px;
    padding: 20px 0 20px 0;
    border-radius: 20px;
    
    font-family: 'Helvetica';
}

body {
    margin: 0;
    padding: 0;
}

.mainHeader {
    margin: 0;
    padding-top: 10px;
    background-color: #784199;

    position: relative;
}

.mainHeader nav {
    background-color: #2D2D2D;
    margin: 0;
}

.mainHeader img {
    width: 200px;
    height: 155px;

    position: absolute;
    top: 0px;
    left: calc(50% - 100px);

    z-index: 2;
}

.mainHeader a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.mainHeader ul {
    margin: 0;
    padding: 20px 5% 20px 6%;
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    height: 24px;
    
    font-family: 'Helvetica';
}

.mainHeader ul::after {
    content: '';
    height: 40px;
    width: 3px;
    background: white;
    display: inline-block;

    position: absolute;
    top: 22px;
    left: 20%;
}

.mainHeader ul::before {
    content: '';
    height: 40px;
    width: 3px;
    background: white;
    display: inline-block;

    position: absolute;
    top: 22px;
    right: 20%;
}

.mainLogo::after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 110px 151px 110px 0;
    border-color: transparent #784199 transparent transparent;

    position: absolute;
    top: -35px;
    left: calc(50% - 150px);

    z-index: 1;
}

.mainLogo::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 110px 0 110px 151px;
    border-color: transparent transparent transparent #784199;

    position: absolute;
    top: -35px;
    left: 50%;

    z-index: 1;
}