/********* Style Jeu en Solo **********/

/*****Général*****/
section {
    display:flex;
}

/***Photo Profil*****/
.score figure img{
    width: 100%;
}
.score figure{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 8px #4cd1cb;
    border-radius: 50%;
    margin: auto;
}
/******Score*****/
progress{
    width: 600px;
    height: 20px;
    margin: 0;
    padding: 0;
    position:absolute;
    top:calc(600px + 200px);
    left:calc(50% - 10px);
    transform-origin: top left;
    transform: rotateZ(-90deg);
}

.score {
    display: flex;
    flex-direction: column;
    position:relative;
    width:25%;
    min-width:170px;
    position: absolute;
}
/******Contenu******/

.contenu{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 70px;
    marging-bottom: 100px;
}
    /*****Numéro question et tuto*****/
        .numEtTuto{
            display: flex;
            justify-content: space-between;
            font-size: 20px;
        }

        .tutoButton{
            height: 50px;
            width: 50px;
            background-color: #4cd1cb;
            font: bold 40px Arial;
            color: white;
            border-radius: 50%;
            border: none;
        }
    /*****Phrase à compléter***/
        .phraseACompleter{
            text-align: center;
            font-size: 40px;
            margin-bottom: 10%;
        }
    /*****Div des Reponses*****/
    
        .reponses{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }
        .reponseButton{
            margin: 10px;
            width: 50%;
            height: 100px;
            min-width: 200px;
            border-radius: 20px;
            border: none;
            background-color: #784199;
            color: white;
            font: bold 25px Arial;
        }
        

/**** 4cd1cb bleu
784199 violet ****/ 