/* ===================== */
/* === ADD SONG PAGE === */
/* ===================== */
.addSongSection {
    flex-direction: column;
    padding: 5em;
    max-width: 60vw;
}

.addSongForm div {
    display: flex;
    margin: 1em;
}

.addSongForm fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.addSongForm input[type="text"], .addSongForm input[type="number"] {
    flex: 1;
    margin: 0 0 0 1em;
}

.addSongForm input[type="number"] {
    width: 3em;
    text-align: center;
}

.timeForm {
    display: flex;
}

.timeForm div {
    
}